* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    text-align: center;
    width: 626px;
    margin: 64px auto;
}

#main img {
    margin-bottom: 32px;
}

#main h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;

    margin-bottom: 16px;
}

#main h1 span {
    color: #EE24FF;
    font-weight: 700;
}

#main p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #828282;
}

#main #description {
    width: 540px;
    margin: 0 auto 32px;
}

#line {
    width: 391px;
    border: 1px solid #ECEFF2;
    margin: 0 auto 16px;
}

#footer {
    text-align: center;
    font-family: "Open Sans";
    font-size: 15px;
    margin-bottom: 41px;
}

#footer a {
    color: #3F3D56;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
}

#footer a + a {
    margin-left: 28px;
}

#wave {
    width: 100%;
    height: 104px;
}


